  <% comments.each do |comment| %>
  <div class = "container mb-3">
    <div class="card mb-1" style="width: 552px;">
      <!--コメントの内容が表示される-->
      <div class="card-header">
        <%= comment.user.display_name %>
      </div>
      <div class="card-body">
        <div class = "card-text">
          <%= comment.comment %>
        </div>
      </div>
    </div>
    <div>
      <% if comment.user == current_user %>
        <%= link_to I18n.t('comment.comment_delete'), post_comment_path(comment.post,comment), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: I18n.t('comment.delete')} %>
      <% end %>
    </div>
  </div>
  <% end %>
