<table>
  <% comments.each do |comment| %>
    <tr>
      <!--コメントの内容が表示される-->
      <td><%= comment.user.display_name %></td>
    </tr>
    <tr>
      <td><%= comment.comment %></td>
    </tr>
    <tr>
      <td>
        <% if comment.user == current_user %>
          <%= link_to I18n.t('comment.comment_delete'), post_comment_path(comment.post,comment), method: :delete, class: "btn btn-sm btn-danger"   %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
