<div id = "image_position">
  <%= image_tag asset_path("beautiful-sea-and-ocean-with-cloud-on-blue-sky_74190-6828.jpg"), width:"100%" %>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-9'>
        <h1 class = "display-3" id = "text_position">
          <strong>
            <%= I18n.t('top.sorairo') %>
          </strong>
        </h1>
    </div>
  </div>
</div>
