<% if post.favorited?(current_user) %>
    <!--すでにいいね済みの場合はdestroyアクションへ-->
    <%= link_to post_favorites_path(post.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <% end %>
<% else %>
    <!--まだいいねしていない場合はcreateアクションへ-->
    <%= link_to post_favorites_path(post.id), method: :post do %>
        <span>♡︎</span>
    <% end %>
<% end %>
