
<% @users.each do |user| %>
  <div class = "row ml-5 mt-5">
    <!--ユーザーのプロフィール画像を表示-->
    <%#= image_tag user.get_profile_image(200,200)%>
    <%= link_to admin_user_path(user.id) do %>
      <%= user.display_name %>
    <% end %>
    <%= user.introduction %>
  </div>
<% end %>
